.shell:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #161616;
  color: #ffffaa;

  -webkit-box-shadow: inset 0px 0px 500px -30px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 500px -30px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 500px -30px rgba(0,0,0,0.25);
}

.content {
  position: relative;
  z-index: 10;

  font-family: Helvetica, sans-serif;
  color: #555;
  font-size: 15px;
  line-height: 18px;
  font-family: 'Roboto Condensed', sans-serif;
}