$header-height: 50px;
$status-height: 90px;
$table-margin: 30px;

.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  text-align: center;
}

h2 {
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #ddd;
}

.table {
  position: fixed;
  top: $table-margin + $header-height;
  left: $table-margin;
  right: $table-margin;
  bottom: $table-margin + $status-height;
}

.status {
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: $status-height;
  text-align: center;
}