$header-height: 45px;
$status-height: 80px;
$table-margin: 30px;

.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  text-align: center;
}

.table {
  position: fixed;
  top: $table-margin + $header-height;
  left: $table-margin;
  right: $table-margin;
  bottom: $table-margin + $status-height;
}

.status {
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: $status-height;
  text-align: center;
}