$text-size: 50px;
$back-color: #333;
$front-color: #fff;

.card {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #222;
  float: left;
  text-align: center;
  font-size: $text-size;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

  &:hover {
    cursor: pointer;
  }

  transform-style: preserve-3d;
  transition: all 280ms ease-in-out,
    opacity 350ms ease 40ms;


  &.removed {
    opacity: 0 !important;
    transform: scale(0.6);

    &:hover {
      cursor: default;
    }
  }

  &.selected {
    transform: rotateY(180deg);
  }

  &.locked {
    .back {
      
    }
  }
}

.front, .back {
  box-sizing: border-box;
  border-radius: 2px;
  -webkit-box-shadow: 1px 3px 53px -13px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 3px 53px -13px rgba(0,0,0,0.3);
  box-shadow: 1px 3px 53px -13px rgba(0,0,0,0.3);

  backface-visibility: hidden;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.front {
  background: $front-color;
  transform: rotateY(180deg);
  border: 1px solid #444;
}

.back {
  transition: background 400ms ease-in-out;
  background: $back-color;
  border: 2px solid #666;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #000;
  }

  $pattern-dark: #666;
  $pattern-light: #000;

  // http://lea.verou.me/css3patterns/#seigaiha
  background-color:$pattern-dark;
    background-image: 
    radial-gradient(circle at 100% 150%, $pattern-dark 24%, $pattern-light 25%, $pattern-light 28%, $pattern-dark 29%, $pattern-dark 36%, $pattern-light 36%, $pattern-light 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $pattern-dark 24%, $pattern-light 25%, $pattern-light 28%, $pattern-dark 29%, $pattern-dark 36%, $pattern-light 36%, $pattern-light 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $pattern-light 10%, $pattern-dark 11%, $pattern-dark 23%, $pattern-light 24%, $pattern-light 30%, $pattern-dark 31%, $pattern-dark 43%, $pattern-light 44%, $pattern-light 50%, $pattern-dark 51%, $pattern-dark 63%, $pattern-light 64%, $pattern-light 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $pattern-light 5%, $pattern-dark 6%, $pattern-dark 15%, $pattern-light 16%, $pattern-light 20%, $pattern-dark 21%, $pattern-dark 30%, $pattern-light 31%, $pattern-light 35%, $pattern-dark 36%, $pattern-dark 45%, $pattern-light 46%, $pattern-light 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $pattern-light 5%, $pattern-dark 6%, $pattern-dark 15%, $pattern-light 16%, $pattern-light 20%, $pattern-dark 21%, $pattern-dark 30%, $pattern-light 31%, $pattern-light 35%, $pattern-dark 36%, $pattern-dark 45%, $pattern-light 46%, $pattern-light 49%, transparent 50%, transparent);
    background-size: 30px 15px;
}

.symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}