$text-size: 50px;
$back-color: darkgreen;
$front-color: darkblue;

.card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: blue;
  float: left;
  text-align: center;
  font-size: $text-size;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

  &:hover {
    cursor: pointer;
  }

  transform-style: preserve-3d;
  transition: all 280ms ease-in-out,
    opacity 350ms ease 40ms;


  &.removed {
    opacity: 0 !important;
    transform: scale(0.6);

    &:hover {
      cursor: default;
    }
  }

  &.selected {
    color: red;
    transform: rotateY(180deg);
  }

  &.locked {
    .back {
      background: darken($back-color, 7%);  
    }
  }
}

.front, .back {
  border-radius: 2px;
  -webkit-box-shadow: 1px 3px 53px -13px rgba(0,0,0,0.9);
  -moz-box-shadow: 1px 3px 53px -13px rgba(0,0,0,0.9);
  box-shadow: 1px 3px 53px -13px rgba(0,0,0,0.9);

  backface-visibility: hidden;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.front {
  background: $front-color;
  transform: rotateY(180deg);
}

.back {
  transition: background 400ms ease-in-out;
  background: $back-color;
}

.symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}