$juice-color: darken(limegreen, 5%);

.home {
  text-align: center;
  padding: 80px 0 100px;
  color: #222;
}

h1 {
  color: #ddd;
  font-size: 30px;
  color: $juice-color;
  margin-bottom: 50px;
}

.mode {
  text-align: center;
  margin: 30px auto;

  h3 {
    margin-top: 15px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #ddd;
    margin-bottom: 15px;
  }
}

.modeLink {
  text-decoration: none;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  background: #222;
  color: $juice-color;
  margin-right: 2px;
  margin-left: 2px;
  min-width: 90px;
  text-align: center;
  border-radius: 4px;

  &:hover {
    color: #ddd;
  }
}