$status-faded: #333;

.status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.setWrap {
  overflow: hidden;
  display: inline-block;
}

.setBlock {
  float: left;
  margin: 0 10px;
}

.submitted {
  .cardIcon {
    background: lighten($status-faded, 50%);
    border-color: lighten($status-faded, 80%);
  }
}

.cardIcon {
  box-sizing: border-box;
  margin: 4px;
  width: 10px;
  height: 10px;
  display: inline-block;
  background: $status-faded;
  border: 2px solid lighten($status-faded, 10%);
  transition: all 480ms ease-in-out;
  border-radius: 50%;
  opacity: .7;

  .cardIcon:first-child {
    margin-top: 200px;
  }

  &.selected {
    opacity: 1;
    background: lighten($status-faded, 50%);
    border-color: lighten($status-faded, 80%);
  }
}