.table {
  position: absolute;
  top: 100px;
  left: 60px;
  right: 60px;
  bottom: 100px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.button {
  position: absolute;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}